<div class="flex flex-col flex-1 items-center">
  <div class="flex flex-col flex-1 w-full lg:w-9/12 md:px-16">
    <div class="py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-2xl lg:text-3xl font-bold text-gray-900">
        <%= chat_room.name %>
      </h1>
    </div>

    <div class="flex flex-col flex-1 mb-12 px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col-reverse pb-3 px-4 bg-white shadow overflow-auto rounded-md chat-room__messages">
        <%= turbo_frame_tag "#{dom_id(chat_room)}_messages", src: chat_room_messages_path(chat_room) %>
      </div>

      <%= form_with model: [chat_room, Message.new],
                    class: %w[flex flex-col mt-2 shadow-sm],
                    data: { controller: 'messages', turbo: false } do |f| %>
        <%= f.text_area :content,
                        rows: 2,
                        required: true,
                        placeholder: 'Type your message here...',
                        class: %w[w-full resize-none focus:outline-none px-3 py-2 border border-gray-300 rounded-tl-md rounded-tr-md sm:text-sm],
                        data: { action: 'input->messages#toggleSendButtonState keypress->messages#sendMessage', 'messages-target': 'messageField' } %>

        <div class="flex justify-end px-2 py-1 bg-gray-100 border border-t-0 border-gray-300 rounded-bl-md rounded-br-md sm:text-sm">
          <%= button_tag type: :submit, class: %w[p-1 rounded-md focus:outline-none cursor-default], disabled: true, data: { 'messages-target': 'sendButton' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-50 transform rotate-90" viewBox="0 0 20 20" fill="gray" data-messages-target="sendIcon">
              <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
            </svg>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
