<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Workshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', data: { turbo_track: :reload } %>
    <%= javascript_pack_tag 'application', data: { turbo_track: :reload } %>
    <%= yield :head %>
    <%= stylesheet_pack_tag "application", data: { turbo_track: :reload } %>
  </head>

  <body data-turbo="true">
    <main class="flex flex-col min-h-screen w-full bg-gray-50">
      <% if user_signed_in? %>
        <%= render "shared/nav" %>
      <% end %>
      <%= render "shared/notifications" %>
      <%= yield %>
    </div>
  </body>
</html>
